---
layout: archive
title: "Presentations"
permalink: /Presentations/
author_profile: true
redirect_from:
  - /talks/
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign all_talks = site.talks | reverse %}
{% assign total = all_talks.size %}
<ul style="list-style: none; padding-left: 0;">
{% for post in all_talks %}
  {% assign num = total | minus: forloop.index0 %}
  <li>[{{ num }}] {{ post.title }}. {{ post.venue }}, {{ post.location }}, {{ post.date | date: "%B %Y" }}. ({{ post.type }})</li>
{% endfor %}
</ul>
