---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% for category in site.publication_category %}
  {% assign cat_posts = site.publications | where: "category", category[0] | reverse %}
  {% if cat_posts.size > 0 %}
    <h2>{{ category[1].title }}</h2><hr />
    <ul style="list-style: none; padding-left: 0;">
    {% assign total = cat_posts.size %}
    {% for post in cat_posts %}
      {% assign num = total | minus: forloop.index0 %}
      <li>[{{ num }}] {{ post.citation }}{% if post.paperurl %} <a href="{{ post.paperurl }}" target="_blank" rel="noopener">[link]</a>{% endif %}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}



