{% include base_path %}

<style>
  .research-subnav {
    margin: 0.5em 0 2em;
    border-bottom: 1px solid var(--global-border-color);
  }
  .research-subnav a {
    display: inline-block;
    margin-right: 1.75em;
    padding-bottom: 0.6em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: inherit;
  }
  .research-subnav a:hover {
    border-bottom-color: var(--global-border-color);
  }
  .research-subnav a.active {
    border-bottom-color: currentColor;
  }
</style>

<nav class="research-subnav">
  <a href="{{ base_path }}/Research/organic-aerosol/" {% if page.url contains "organic-aerosol" %}class="active"{% endif %}>Organic Aerosol</a>
  <a href="{{ base_path }}/Research/black-carbon/" {% if page.url contains "black-carbon" %}class="active"{% endif %}>Black Carbon</a>
  <a href="{{ base_path }}/Research/heavy-metals/" {% if page.url contains "heavy-metals" %}class="active"{% endif %}>Heavy Metals</a>
</nav>
